@model List<Photo>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Custom.css" rel="stylesheet" />

<div class="text-center">
    <h1 style="color:white!important;">Net Core 5.0.3 Test App</h1>
    <div class="container">
        <form id="form">
            <div class="col-6">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter Description">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="file" id="File" name="File">
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<div class="container">
    <table>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Description</th>
            <th>Del</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href="@item.Url" target="_blank" style="color:black;">@item.Url</a></td>
                <td>@item.Description</td>
                <td><button id="Delbtn" data-value="@item.Id">Delete</button></td>
            </tr>
        }
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/Custom.js"></script>